{include="header"}

<!--
 @nom: index
 @auteur: Idleman (idleman@idleman.fr)
 @description: Page d'accueil
-->

{if="isset($myUser)"}
<p class="ipAddress">Bienvenue {$myUser['login']}</p>	
<p> </p>
<ul class="nav nav-tabs" id="myTab">
{$first=0}
{loop="places"}
<li class="{if="$first==0"}{$first=1}active{/if}"><a href="#{$key}">{$value['name']}</a></li>
{/loop}




</ul>
 
<div class="tab-content">
{$first=0}
{loop="places"}
{$currentPlace=$key}
<div class="tab-pane {if="$first==0"}{$first=1}active{/if}" id="{$key}">

      <div class="row">


{loop="engines"}

	{if="$value2['place']==$currentPlace"}
	
<div class="span3">
          <h5>{$value2['name']}</h5>
		  <a class="thumbnail" href="#"><img src="../../{$value['picture']}"></a>
		   <br/>
		  <p><span class="glyphicon glyphicon-dashboard"> {$value2['type']}</span></p>
		  <ul>
		  	    {if="$value2['power']=isset($value2['power'])"}
		  	    <li>Puissance: <code>{$value2['power']} W </code></li>
		  	    {/if}
		  		
		  <p>{$value2['description']}
		  	
		  	</ul>
		  </p>
	
		  		{if="$key2=='id-13'"}
		  	 			{if="isset($sunset)"}
		  				<span class="sunset">éclairage à :{$sunset}</span>
		  				{/if}
		  	 		{/if}	
		  	 <div class="btn-toolbar">
		  	 		
				<div class="btn-group">
					
					{if="$key2=='id-13'"}
						
		  				<a class="btn btn-default" href="action.php?action=UPDATE_SUNSET"><span class="glyphicon glyphicon-time"></span></a>
		  					
		  			 {else}
					<a class="btn {if="$value2['state']=='on'"}btn-success{/if}" href="action.php?engine={$key}&amp;action=CHANGE_STATE&amp;code={$value2['code']}&amp;state=on"><span class="glyphicon glyphicon-ok {if="$value2['state']=='on'"}icon-white{/if}"></span></a>
					<a class="btn {if="$value2['state']=='off'"}btn-danger{/if}" href="action.php?engine={$key}&amp;action=CHANGE_STATE&amp;code={$value2['code']}&amp;state=off&amp;CURRENT_STATE={$value2['state']}"><span class="glyphicon glyphicon-off {if="$value2['state']=='off'"}icon-white{/if}"></span></a>
					{/if}
				</div>
			</div>
        </div>
        {/if}
{/loop}
		<div class="span4" id="infoConso">
			<p>Fonctionne depuis {$duration}</p>
			<p><span class="glyphicon glyphicon-asterisk">Consommation : {$consommation} kWh</span></p>
		</div>
      </div>



</div>

{/loop}

</div>

	  {else}
		Vous devez vous connecter pour controler cet espace
	  {/if}
{include="footer"}
